@import "main";

@import "markdown";
.api-nav{
  a{
    color: #444;
    padding: 10px;
    display: inline-block;
    width: 100%;
    &:hover{
      color: #0099ff;
    }
    &.active{
      color: #0099ff;
    }
  }
}