@tabsPrefixCls: biz-tabs;
@tabPrefixCls: biz-tab;

.@{tabsPrefixCls} {
  width: 100%;
  &-container {
    position: relative;
    background-color: @white-darker;
    display: flex;
    white-space: nowrap;
    color: @text-2;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .@{tabPrefixCls} {
    position: relative;
    .height(40px);
    text-align: center;
    flex: 1;
    min-width: -webkit-min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .border-bottom();
    .padding-left-right(10px);
    &-badge {
      .font-size(10px);
      .px2rem(bottom, 26px);
      .px2rem(right, -10px);
    }
  }
  .@{tabPrefixCls}-inkBar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    .height(2px);
    .margin-top(-1px);
    background-color: @bg-1;
  }
  .@{tabPrefixCls}-active {
    color: @bg-1;
  }

  &-content {
    width: 100%;
  }
  &-content-hidden {
    display: none;
  }

}
