@tabBarPrefixCls: biz-tabBar;
@tabBarItemPrefixCls: biz-tabBarItem;

.@{tabBarPrefixCls} {
  width: 100%;
  &-content-container {
    padding-bottom: 49px;
  }
  &-container {
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    white-space: nowrap;
    font-size: @font-size-2;
    color: @grey-600;
    background-color: @grey-100;
  }
  .@{tabBarItemPrefixCls} {
    height: 49px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid @grey-400;
    &-badge {
      top: -40px;
      left: 6px;
    }
  }
  .@{tabBarItemPrefixCls}-active {
    color: @bg-1;
  }

  &-content {
    width: 100%;
  }
  &-content-hidden {
    display: none;
  }

}
