@inputPrefixCls: biz-input;
.@{inputPrefixCls} {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid @grey-400;
  &-label{
    font-size: 16px;
    text-align: left;
    margin-right: 10px;
  }
  &-val{
    flex: 1;
    font-size: 16px;
    appearance: none;
    width: 100%;
    border: 0;
    background-color: transparent;
  }
  &-clear{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-size: 20px 20px;
    background-image: url("../styles/image/clear.png");
  }
  &-extra{
    margin-right: 10px;
    color: @grey-600;
  }
  &-error{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: url("../styles/image/warning.png") no-repeat center;
    background-size: 20px 20px;
  }
}
.@{inputPrefixCls}-disabled {
  .@{inputPrefixCls}-label{
    color: @grey-500;
  }
}