@messagePrefixCls: biz-toast;

.@{messagePrefixCls} {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  &-mask{
    background-color: transparent;
  }
  &-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    .animated(300ms);
    position: relative;
    top: -40px;
    background-color: @black-darker;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: @white-darker;
    font-size: 18px;
    width: 150px;
  }
  &-info-wrap{
    flex-direction: row;
    border-radius: 6px;
    margin: 0 auto;
    width: auto;
    padding: 10px 20px;
    max-width: 300px;
  }
  &-info-icon,
  &-loading-icon,
  &-success-icon,
  &-error-icon {
    display: inline-block;
    width: 54px;
    height: 54px;
    background: url("./Warning.png") no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }
  &-info-icon {
    width: 30px;
    height: 30px;
  }
  &-loading-icon {
    -webkit-animation: loading-spin 4s infinite linear;
    animation: loading-spin 4s infinite linear;
    background-image: url("./Loading.png");
  }
  &-success-icon {
    background-image: url("./Success.png");
  }
  &-error-icon {
    background-image: url("./Error.png");
  }

  &-content{
  }
}

@-webkit-keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}