@linearProgressPrefixCls: biz-linearProgress;
.@{linearProgressPrefixCls} {
  position: relative;
  background-color: @linearProgressBgColor;
  height: @linearProgressHeight;
  width: 100%;
  border-radius: @linearProgressRadius;
  overflow: hidden;
  &-indeterminate{
      position: absolute;
      top: 0;
      left: -50%;
      width: 50%;
      height: 100%;
      border-radius: @linearProgressRadius;
      background: @linearProgressColor;
      transform: translate3d(0, 0, 0);
      animation: indeterminateProgress 900ms infinite linear;
  }
  &-determinate{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: @linearProgressColor;
    border-radius: @linearProgressRadius;
    transition: width 0.3s linear 0ms;
  }
}
@keyframes indeterminateProgress {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(300%);
  }
}